@model List<WebReposicion.Models.ViewModels.StockDisponibleViewModel>
@{
    ViewBag.Title = "BuscarArticulo";
}


@using (Html.BeginForm("BuscarArticulo", "Reposicion", FormMethod.Get))
{
    <div class="container">
        <div class="modal active" id="modalAdd">
            <div class="modal-dialog modal-lg modal-dialog center-block">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#3c8dbc">
                        <b style="color:aliceblue">
                            <span class="fa fa-binoculars"> </span> DISPONIBILIDAD PARA REPOSICIÓN
                        </b>
                        <button class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">

                        <div style="text-align:left;">
                            @Html.TextBox("cadena", "", new { @class = "form-control", @style = "text-align:left", @placeholder = "INGRESE EL CÓDIGO DEL PRODUCTO PARA INICIAR BUSQUEDA Y AGREGAR" })
                            <br />
                            <input type="submit" class="btn btn-group-lg btn-dropbox" value="Ver disponibilidad" onclick="cargarArticulo" />

                        </div>
                        <br />
                        <div class="row">

                            <div>
                                <table class="table table-hover table-bordered">
                                    <tr style="background-color:lightsteelblue">

                                        <th>#</th>
                                        <th>CÓDIGO</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>ALMACÉN</th>
                                        <th>STOCK</th>
                                        <th>UNIDADES</th>
                                        <th></th>

                                    </tr>

                                    @foreach (var oElemento in Model)
                                    {
                                        <tr>
                                            @Html.Hidden(oElemento.Fk_ubicacion.ToString())
                                            <td>@oElemento.Nro</td>
                                            <td>@oElemento.Codigo</td>
                                            <td>@oElemento.Descripcion</td>
                                            <td>@oElemento.Almacen</td>
                                            <td>@oElemento.Stock</td>
                                            @*<td> @Html.TextBox("cadena", "", new { @class = "form-control", @style = "text-align:right", @placeholder = "Cantidad" })</td>*@
                                            <td><input type="number"></td>
                                            <td> <button type="submit" class="btn btn-success"> <span class="fa fa-check-circle"> </span></button></td>


                                        </tr>
                                    }
                                </table>
                            </div>

                        </div>


                    </div>

                    <div class="modal-footer">


                    </div>
                </div>
            </div>
        </div>
    </div>
}




