@model List<WebReposicion.Models.ViewModels.StockDisponibleViewModel>
@{
    ViewBag.Title = "Generar Pedido";
    List<WebReposicion.Models.ReposicionDetViewModel> detallePedido = (List<WebReposicion.Models.ReposicionDetViewModel>)ViewBag.detallePedido;
}

<h3 style="text-align:center;color:dimgrey"><b>  <span class="fa fa-file-text-o"> </span> GENERAR PEDIDO </b></h3>

<div class="panel panel-default">
    <div class="panel panel-heading" style="background-color:#3c8dbc">
        <i class="fa fa-search"></i><font style="vertical-align: inherit;"></font>
        @*<b style="color:aliceblue">  <span class="glyphicon glyphicon-inbox"> </span>  Consulta de stock de artículos</b>*@
    </div>



    <div class="panel-body">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align:right;">

            <div>

                <div style="text-align:left;">
                    <div class="small-box bg-aqua-active">
                        <div class="inner">
                            <h3><font style="vertical-align: inherit;"><font style="align-content:flex-start">Módulo de reposición </font></font></h3>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deberá agregar al listado cada artículo a reponer.</font></font></p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-binoculars"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;text-align:left">
                                    Clic en el boton de busqueda de artículos para ver la disponibilidad de productos
                                    <i class="fa fa-arrow-circle-right"></i>
                                </font>
                            </font>
                        </a>
                    </div>
                </div>


                <button type="button" class="btn btn-app btn-sm" data-toggle="modal" data-target="#modalAdd">
                    <span class="badge bg-red-active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Módulo</font></font></span>
                    <i class="fa fa-search"></i><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Buscar Artículos
                            @*@Html.ActionLink("Buscar artículos", "GenerarPedido", "Reposicion", "0", null)*@
                        </font>
                    </font>
                </button>

            </div>

        </div>
    </div>


    <div class="panel-body">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p style="color:cornflowerblue">@ViewBag.Confirmacion </p>
            @if (ViewBag.ConfirmacionG != null)
            {
               
            <p style="color:red">@ViewBag.ConfirmacionG </p>
            }
        </div>
    </div>

</div>



<div class="container">
    <div class="modal fade" id="modalAdd">
        <div class="modal-dialog modal-lg modal-dialog center-block">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#3c8dbc">
                    <b style="color:aliceblue">
                        <span class="fa fa-binoculars"> </span> DISPONIBILIDAD PARA REPOSICIÓN
                    </b>
                    <button class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                    <div style="text-align:left;">
                        @using (Html.BeginForm("GenerarPedido", "Reposicion", FormMethod.Get))
                        {
                            @Html.TextBox("cadena", "", new { @class = "form-control", @style = "text-align:left", @placeholder = "INGRESE EL CÓDIGO DEL PRODUCTO PARA INICIAR BUSQUEDA Y AGREGAR" })
                            <br />
                            <input type="submit" class="btn btn-group-lg btn-dropbox" value="Ver disponibilidad" onclick="cargarArticulo" />
                        }
                    </div>
                    <br />

                    @using (Html.BeginForm("GenerarTemporal", "Reposicion", FormMethod.Get))
                    {
                        <div class="row">

                            <div>
                                <table class="table table-hover table-bordered">
                                    <tr style="background-color:lightsteelblue">

                                        <th>CÓDIGO</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>ALMACÉN</th>
                                        <th>DISPONIBLE</th>
                                        <th>SOLICITAR</th>
                                        <th></th>


                                    </tr>

                                    @foreach (var oElemento in Model)
                                    {
                                        <tr>
                                            @Html.Hidden("Fk_ubicacion", oElemento.Fk_ubicacion.ToString())
                                            @Html.Hidden("Stock", oElemento.Stock.ToString())
                                            @Html.Hidden("PkArticulo", oElemento.PkMA.ToString())
                                            @Html.Hidden("Codigo", oElemento.Codigo.ToString())
                                            @Html.Hidden("Descripcion", oElemento.Descripcion.ToString())
                                            @Html.Hidden("Categoria", oElemento.Categoria.ToString())

                                            <td>@oElemento.Codigo</td>
                                            <td>@oElemento.Descripcion</td>
                                            <td>@oElemento.Almacen</td>
                                            <td>@oElemento.Stock</td>
                                            @*<td> @Html.TextBox("cadena", "", new { @class = "form-control", @style = "text-align:right", @placeholder = "Cantidad" })</td>*@
                                            <td>

                                                <input type="number" id="stockSol" name="stockSol" value="@oElemento.StockSolicitar">
                                                @*@Html.TextBox("stock", "", new { @class = "form-control", @style = "text-align:left", @value = @oElemento.StockSolicitar})*@

                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    <span class="fa fa-check-circle"> </span>
                                                </button>
                                                @*<a class="btn btn-success btn-sm" href="~/Reposicion/GenerarTemporal?Codigo=@oElemento.Codigo&Fk_ubicacion=@oElemento.Fk_ubicacion&und=@oElemento.StockSolicitar"><span class="fa fa-check-circle"> </span> </a>*@
                                            </td>


                                        </tr>
                                    }
                                </table>
                            </div>

                        </div>
                    }

                </div>

                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("ConfirmarPedido", "Reposicion", FormMethod.Post))
{
    <div class="panel panel-default">
        @*<div class="panel panel-heading" style="background-color:#3c8dbc">
                <b style="color:aliceblue">   <span class="glyphicon glyphicon-blackboard"> </span>  Historial del artículo</b>
            </div>*@
        <div class="panel-body">

            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <span class="glyphicon glyphicon-bookmark"> </span>
                    <h3 class="box-title"><b>Lista temporal de artículos - Pedido Nro:  @ViewBag.NroReposicion  </b></h3>
                    <div class="box-tools pull-right">

                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->


                <div>
                    <table id="myTable" class="table table-bordered table-hover table-striped">
                        <tr style="background-color:lightblue;">
                            <th>@Html.DisplayNameFor(d => detallePedido.First().IdDetalle)</th>
                            @*<th>@Html.DisplayNameFor(d => detallePedido.First().NroReposicion)</th>
                                <th>@Html.DisplayNameFor(d => detallePedido.First().PkArticulo)</th>
                                <th>@Html.DisplayNameFor(d => detallePedido.First().Almacen)</th>*@
                            @*<th>@Html.DisplayNameFor(model => model.First().TOTAL_AL_DIA)</th>*@
                            <th>@Html.DisplayNameFor(d => detallePedido.First().CodigoArticulo)</th>
                            <th>@Html.DisplayNameFor(d => detallePedido.First().NombreArticulo)</th>
                            <th>@Html.DisplayNameFor(d => detallePedido.First().Categoria)</th>
                            <th>@Html.DisplayNameFor(d => detallePedido.First().Cantidad)</th>
                        </tr>

                        @foreach (var oElemento in detallePedido)
                        {
                            <tr>
                                @Html.Hidden("NroReposicion", oElemento.NroReposicion.ToString())
                                <td>@oElemento.IdDetalle</td>
                                @*<td>@oElemento.NroReposicion</td>
                                    <td>@oElemento.PkArticulo</td>
                                    <td>@oElemento.Almacen</td>*@
                                @*<td>@oElemento.TOTAL_AL_DIA</td>*@
                                <td>@oElemento.CodigoArticulo</td>
                                <td>@oElemento.NombreArticulo</td>
                                <td>@oElemento.Categoria</td>
                                <td>@oElemento.Cantidad</td>



                            </tr>
                        }
                    </table>

                </div>
                <div class="box-footer" style="background-color:gainsboro;">

                    <div class="box-tools pull-right">

                        <h4 class="box-title">  <input type="submit" class="btn btn-danger" value="Confirmar pedido" onclick="cargarArticulo" /> </h4>
                    </div><!-- /.box-tools -->
                </div>



            </div>

        </div>
    </div>
}






